.TodoInsert{
  display: flex;
  background: #495057;
  input{
    //기본 스타일 초기화
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    &::placeholder{
      color: #dee2e6;
    }
    //버튼을 제외한 영역을 모두 차지하기
    flex:1
  }

  button{
    //기본 스타일 초기화
    background: none;
    outline: none;
    border: none;
    background: #868e96;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    //flex 속성 적용
    //flexbox를 사용하면 요소의 크기와 순서를 유연하게 배치할 수 있다
    align-items: center;
    cursor: pointer;
    transition: 0.1s backgroud ease-in;
    //transition : 요소의 변화나 움직임의 속도
    //0.1s : 변화가 0.1초 후에 나타남
    //ease-in : 천천히 시작해서 점점 가속
    &:hover{
      //hover : 마우스를 가져댈때 색상 변화
      background: #adb5db;
    }
  }
}

//&:hover , &::placeholder
//: -> 가상클래스를 의미 HTML 문서의 일부를 DOM 트리 구조와는 상관없는 방법으로 선택할 때
// :hover, :active, :focus, :link, :checked, :not(), :disable(), :nth-oftype() 등
//:: -> 가상요소를 의미 문서에 나타난 것 이외의 추가로 정의된 DOM 트리의 추상화 레이어
// ::affer, ::before, ::first-letter

//전부다 :를 써도 문제는 없지만 W3의 가이드라인을 따를 것, IE8에서는 작동이 안될 수 있다